* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 2px solid #ffffff;
    margin: 50px 10px 50px 10px;
    padding: auto;
}

h1{
    color: #579BD9;
    text-align: center;
    margin: auto;
    padding: 10px 20px 10px 20px;
}

h2{
    color: #000000;
    text-align: center;
    margin: auto;
    padding: 0px 20px 0px 20px;
}

header {
    text-align: center;
    background-color: #ffffff;
    padding: auto;
    border-bottom: 2px solid #ffffff;
}

header>a {
    text-decoration: underline;
    color: #579BD9;
    background-color: #ffffff;
    text-align: center;
    width: 200px;
    cursor: pointer;
    padding: 0px 10px 0px 10px;

}

header>a:hover {
    color: #0d0d0d;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h3 {
    display: flex;
    text-align: justify;
    color: #D56900;
    width: 600px;
    align-items: self-start;
}

main >.Paragrafos {
    color: #000000;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}

main .projetos {
    color: #000000;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}

main.Cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 1.5rem;
}

nav>img {
    display: flex;
    border: 2px solid #2b2c2d;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-top: 20px;
    gap: 1.5rem;
}

footer {
    color: #D56900;
    text-align: center;
    padding: auto;
    margin-top: 20px;
}

footer p {
    color: #579BD9;
    margin: 10px;
    padding: 10px;
}

footer a {
    text-decoration: underline;
    color: #000000;
}
footer a:hover {
    color: #000000;
}
