* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    background-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 2px solid #579BD9;
    margin: 50px 10px 50px 10px;
    padding: auto;
}

header {
    text-align: center;
    background-color: #5399db;
    padding: auto;
    border-bottom: 2px solid #579BD9;
}

header > a {
    text-decoration: none;
    color: rgb(32, 110, 152);
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main > h3 {
    text-align: center;
    color: #101f2d;
    height: 200px;
    width: 300px;
}

main > h3 > p {
    margin: 20px;
    padding: 10px;
}   

main > img {
    display: flex;
    border: 2px solid #579BD9;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: auto;
    margin-top: 20px;
}

footer p {
    margin: 10px;
    padding: 10px;
}